<div class="hidden md:flex h-full bg-white py-10 w-[220px] flex flex-col justify-between items-center rounded-[32px] shadow-[0_8px_30px_rgb(0,0,0,0.12)]">
    <div class="flex gap-1 items-center justify-center uppercase text-md font-semibold text-[#2a2a2a] ">
        <span class="">Rush00</span>
        <span class="text-[#d5d5d5] text-4xl font-thin">/</span>
        <span class="text-[#d5d5d5]">Bryan</span>
    </div>
    
    <div class="flex flex-col gap-4 text-sm w-full p-5">
        <div class="flex gap-3 text-[#6e87ef] font-semibold items-center bg-[#f9f9f9] hover:bg-[#f9f9f9] hover:text-[#6e87ef] hover:cursor-pointer ml-2 w-full p-3 px-4 rounded-2xl transition-all">
            <i class="fa-solid fa-chart-line fa-lg"></i>
            <span>Tableau de bord</span>
        </div>

        <div class="flex gap-3 text-[#9caabc] font-semibold items-center bg-white hover:bg-[#f9f9f9] hover:text-[#6e87ef] hover:cursor-pointer hover:ml-2 w-full p-3 px-4 rounded-2xl transition-all">
            <i class="fa-regular fa-calendar-days fa-lg"></i>
            <span>Calendrier</span>
        </div>

        <div class="flex gap-3 text-[#9caabc] font-semibold items-center bg-white hover:bg-[#f9f9f9] hover:text-[#6e87ef] hover:cursor-pointer hover:ml-2 w-full p-3 px-4 rounded-2xl transition-all">
            <i class="fa-solid fa-notes-medical fa-lg"></i>
            <span>Selfcare</span>
        </div>

        <div class="flex gap-3 text-[#9caabc] font-semibold items-center bg-white hover:bg-[#f9f9f9] hover:text-[#6e87ef] hover:cursor-pointer hover:ml-2 w-full p-3 px-4 rounded-2xl transition-all">
            <i class="fa-brands fa-pagelines"></i>
            <span>Jardin</span>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="w-10 h-10 bg-[#feeaf0] rounded-full flex items-center justify-center hover:cursor-pointer">
            <i class="fa-regular fa-comments text-[#615a5e]"></i>
        </div>
        <div class="flex gap-2 text-[#615a5e] items-center justify-center rounded-full bg-[#f9f9f9] px-3 hover:cursor-pointer">
            <i class="fa-solid fa-gear"></i>
            <span class="text-[#99a7ba] text-sm font-medium">Réglages</span>
        </div>
    </div>
</div>
