<div class="w-full p-10 h-full grow flex flex-col gap-10">
    <!-- Search bar -->
    <div class="flex py-3 gap-5 border-b-[#e6e6e6] w-full items-center border-b-[2px] border-b-[#f1f5f4]">
        <i class="fa-solid fa-magnifying-glass text-[#141414] fa-lg"></i>
        <input type="text" placeholder="Rechercher ..." class="w-full placeholder:text-[#bac1c1] p-2 bg-[#fdfbfe] outline-none">
    </div>

    <!-- Welcome back -->
    <div class="flex flex-col gap-2">
        <div class="text-[40px] font-medium flex gap-5">
            <span class="text-[#d3d5d4]">Bon retour,</span>
            <span class="text-[#2a2a2a]">Bryan :)</span>
        </div>
        <div class="text-sm font-normal underline-offset-4">Tu as obtenu <span class="underline font-semibold">9 nouvelles plantes 🌱</span>, n'oublie pas de les planter !</div>
    </div>
    
    <div class="flex gap-5">
        <div class="w-40 h-40 rounded-2xl border-dashed border-2 border-[#c9d3dc] text-[#7c8ea6] transition-all cursor-pointer hover:rotate-[5deg] flex items-center justify-center flex-col gap-5">
            <i class="fa-solid fa-plus fa-xl"></i>
            <span class="text-sm font-semibold ">Nouvelle entrée</span>
        </div>

        <div class="flex flex-col gap-3 items-center">
            <div class="w-48 h-40 rounded-2xl bg-[#fef5e8] flex flex-col items-center justify-center gap-2">
                <span class="text-[32px] text-[#e38c22]">4%</span>
                <div class="flex gap-5">
                    <div class="flex flex-col gap-2 items-center">
                        <span class="w-12 h-10 bg-[#fffdfa] rounded-lg flex items-center justify-center font-semibold">14</span>
                        <span class="text-xs font-bold">Ce mois</span>
                    </div>
                    <div class="flex flex-col gap-2 items-center">
                        <span class="w-12 h-10 bg-[#fffdfa] rounded-lg flex items-center justify-center font-semibold">10</span>
                        <span class="text-xs font-bold">Dernier mois</span>
                    </div>
                </div>
            </div>
            <span class="text-lg font-semibold">Entrées</span>
        </div>
    </div>
</div>